{% extends 'base.html' %}

{% block content %}
  {% include 'components/navbar.html' with active_item='home' %}
  <div class="landding" id="home">
    <div class="container text-sm-center h-100">
      <div class="row h-100 align-items-center justify-content-end">
        <div class="col-md-6 text-center text-md-start">
          <h1 class="text-light"><span> Hi</span> Welcome To Our Pet Shop</h1>
          <a class="button mt-3">Shop Now</a>
        </div>
      </div>
      
    </div>
    
  </div>
  {% endblock content %}
  